<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="connection-manager" class="ch.qos.logback.core.FileAppender">
        <file>logs/connection-manager.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="downloading" class="ch.qos.logback.core.FileAppender">
        <file>logs/downloading.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="connection0" class="ch.qos.logback.core.FileAppender">
        <file>logs/connection-0.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="connection" class="ch.qos.logback.core.FileAppender">
        <file>logs/connection.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="peer-discovery" class="ch.qos.logback.core.FileAppender">
        <file>logs/peer-discovery.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.lavrov.bittorrent.protocol.ConnectionManager" level="DEBUG" additivity="false">
        <appender-ref ref="connection-manager"/>
    </logger>
    <logger name="com.github.lavrov.bittorrent.protocol.Downloading" level="DEBUG" additivity="false">
        <appender-ref ref="downloading"/>
    </logger>
    <logger name="com.github.lavrov.bittorrent.protocol.Connection0" level="DEBUG" additivity="false">
        <appender-ref ref="connection0"/>
    </logger>
    <logger name="com.github.lavrov.bittorrent.protocol.Connection" level="DEBUG" additivity="false">
        <appender-ref ref="connection"/>
    </logger>
    <logger name="com.github.lavrov.bittorrent.dht.PeerDiscovery" level="DEBUG" additivity="false">
        <appender-ref ref="peer-discovery"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
